
.buttonStyle{
  padding: 0.35rem;
position: relative;
color: hsl(0, 0%, 98%);
text-decoration: none;
display: inline-block;
transition: color 0.25s;
cursor: cell;

color: rgb(236, 187, 178);
}

&:hover {
  color: rgb(225 73 46);
  scale: 1;
}

&:before, &:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(225 73 46);
  transform: scaleX(var(1, 0));
  transition: transform 0.25s;
}

&:after {
  bottom: 100%;
  left: 0;
  transform-origin: 0 50%;
}

&:before {
  top: 100%;
  right: 0;
  transform-origin: 100% 50%;
}