.content {
  @apply font-roboto h-dvh w-full;
}
.main {
  @apply w-full h-full flex flex-col overflow-hidden;
}

.text_h2 {
  @apply text-9xl py-10;
}
.span {
  @apply h-1 bg-red-400 w-72 
}
.body {
  @apply w-full flex flex-col items-center justify-center text-slate-400  cursor-default;
}

.mask {
  top: 4rem;
  left: 0;

  mask-image: url('./assets/icons/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #ec4e39;
  position: absolute;
  color: black;
}
