.text_secret {
  @apply lg:text-xl border-b border-dotted border-blue-300 whitespace-nowrap;
}
.secret_animate {
  animation: pulse 1.5s infinite alternate-reverse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    color: #ec4e39;
  }
}

.typing_demo {
  width: 18ch;
  animation: typing 2s steps(17), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.span {
  @apply h-1 bg-red-400 w-20 sm:w-32 lg:w-72;
}
.body {
  @apply w-full flex flex-col items-center justify-center text-slate-400 
   cursor-default lg:text-5xl py-10;
}

.mask {
  top: 4rem;
  left: 0;
  z-index: 5;
  mask-image: url('./assets/icons/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #ec4e39;
  position: absolute;
  color: black;
  cursor: cell
}
